@media (max-width: 340px) {
  .iframe {
    width: 240px;
    height: 135px;
  }
}

@media (min-width: 341px) and (max-width: 479px) {
  .iframe {
    width: 336px;
    height: 189px;
  }
}

@media (min-width: 480px) and (max-width: 620px) {
  .iframe {
    width: 432px;
    height: 243px;
  }
}

@media (min-width: 620px) and (max-width: 799px) {
  .iframe {
    width: 710px;
    height: 400px;
  }
}

@media (min-width: 800px) {
  .iframe {
    width: 800px;
    height: 450px;
  }
}
